.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px;
    background-color: #F2F2F2;
  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product-image {
    width: 100%;
    height: 50vh;
    background-image: url("https://via.placeholder.com/500x500");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .product-details {
    width: 100%;
    padding: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-details h1 {
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .product-details p {
    font-size: 2.5vw;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .product-details button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 2.5vw;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .product-container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    .product-image {
      width: 50%;
      height: 500px;
      background-size: cover;
      order: 1;
    }
    
    .product-details {
      width: 50%;
      padding: 40px;
      order: 2;
    }
    
    .product-details h1 {
      font-size: 48px;
      text-align: left;
    }
    
    .product-details p {
      font-size: 24px;
      text-align: left;
    }
    
    .product-details button {
      font-size: 24px;
    }
  }
  