.shopping-cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%; /* 2/3 of the viewport width */
    background-color: rgba(0, 0, 0, 0.791);
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .shopping-cart-overlay.open {
    transform: translateX(0);
  }

  .shopping-cart-content {
    height: 100%;
    padding: 20px;
    color: #fff;
  }
  
  .shopping-cart-content ul {
    list-style: none;
    padding: 0;
  }
  
  .shopping-cart-content li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .shopping-cart-content button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .item-icon {
    width: 15vmin;
  }
  
  .cart-items-container {
    max-height: 90vh; /* Set the desired height for the scrollable area */
    overflow-y: auto;
  }


  @media (max-width: 1300px) {
  .shopping-cart-overlay {
    width: 50%; /* Adjust the width for smaller viewports */
  }
}

@media (max-width: 900px) {
  .shopping-cart-overlay {
    width: 70%; /* Adjust the width for smaller viewports */
  }
}

@media (max-width: 500px) {
  .shopping-cart-overlay {
    width: 100%; /* Adjust the width for smaller viewports */
  }
}